<% include static/header %>
<%- CDN([
      '/js/jquery.min.js',
	  '/libraries/bootstrap-custom.min.js']).replace(/\+/g, '%2B') %>
<body id="page-index">
<% include static/top-nav %>

<%
if (user && user.api && user.api.public_key!='') {
    %>
    <script type="text/javascript">var default_api_key="<%=user._id %>-<%= user.api.public_key %>"</script>
    <%
}
else {
    %>
    <script type="text/javascript">var default_api_key=""</script>
    <%
}
%>
<div class="container">
    <div class="row content" id="apidocs">
        <% include ../public/apidocs/index.html %>
    </div>
</div>


<% include static/footer-nojs %>