<% include static/header %>
<body id="page-categories">
<% include static/top-nav %>

<div class="container">
    <div class="row content">
        <%
        for (i=0; i<categories.length; i++) {
            if (categories[i].noselect) continue
            %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body <%= categories[i].cls %>">
                        <a href="/categories/<%= categories[i].slug %>"><%= categories[i].text %></a>
                        <span class="label label-default pull-right"><%= categories[i].count %></span>
                    </div>
                </div>
            </div>
            <%
        }
        %>
    </div>
</div>


<% include static/footer %>    