<% include static/header %>
<body id="page-categories">
<% include static/top-nav %>

<div class="container">

    <p>Planned features (in no particular order):</p>
    <ul>
        <li>Bundle/package system to link WA's together</li>
        <li>Advanced search</li>
        <li>Category auto-detect on import</li>
        <li>Improve screenshots</li>
        <li>Version changelog</li>
        <li>Custom media tools</li>
        <li>Better custom functions detection</li>
    </ul>
</div>


<% include static/footer %>