<% include static/header %>
<body id="page-search">
<% include static/top-nav %>

<div class="container">
    <p>Your starred auras.</p>

    <div class="row content">
        <% include static/aura-list %>
    </div>
</div>

<% include static/footer %>