<% include static/header %>

<div class="row" id="aura_top">
    <div class="col-xs-12">
        <% if (profile.visible=='private') { %>
        <div class="alert alert-danger">This profile is set to private and can not be viewed.</div>
        <% } else { %>
            <% if (profile.visible=="my-private") { %>
                <div class="alert alert-danger">Your profile is set to private and can not be viewed by other users.</div>
            <% } %>
            <div class="block">
                <h4><%= profile.name %>'s Profile</h4>
                <div class="text-muted">
                    <%= auralist.total %> results found.
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by <%= pageinfo.sort %> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="sortby-select">
                            <li><a href="?sort=date" class="sortresults" data-sort="date">Sort by Date</a></li>
                            <li><a href="?sort=stars" class="sortresults" data-sort="stars">Sort by Stars</a></li>
                            <li><a href="?sort=views" class="sortresults" data-sort="views">Sort by Views</a></li>
                            <li><a href="?sort=comments" class="sortresults" data-sort="comments">Sort by Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <% include static/aura-list %>
        <% } %>
    </div>
</div>

<% if (auralist.more) { %>
<script type="text/javascript">
var scroll_list=<%- JSON.stringify(auralist.more) %>
</script>
<% } %>

<% include static/footer %>