<% include static/header %>

<div class="row" id="aura_top">
    <!-- LOCAL INFORMATION -->
    <div class="col-xs-12 col-sm-6 col-xl-left">
        <% if (accountMsg && accountMsg.length > 0) { %>
            <div class="alert alert-danger"><%= accountMsg %></div>
        <% } %>
        <div class="block">
            <strong>Reset Password for user <em><%= user.account.username %></strong>
            <% if (user.account.password) {
                %>
                <p>You may reset your Wago.io account password here. <br>
                Wago.io does not collect e-mail addresses so there is no password recovery feature. You can always log in with your linked social accounts as an alternative.</p>
                <form action="/account/reset/password" method="post">
                    <input type="hidden" name="key" value="<%= key %>" />
                    <strong>New Password</strong>
                    <input type="password" class="form-control" name="password">
                    <br>
                    <strong>Confirm</strong>
                    <input type="password" class="form-control" name="password2">
                    <br>
                    <input type="submit" class="btn btn-default" value="Reset Password"></button>
                </form>
                <%
            } %>
        </div>
    </div>
</div>
<% include static/footer %>