<% include static/header %>
<body id="page-contact">
<% include static/top-nav %>

<div class="container">



</div>

<div class="container" id="footer" style="margin-top:.5em">
    <div class="row content">
        <div class="col-sm-6">
            &copy; 2016 wago.io | <a href="/terms-of-service">Terms of Service</a> | <a href="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="col-sm-6 text-right">
            <a href="/stats">Stats</a>
        </div>
    </div>
</div>

<% include static/footer %>