<% include static/header %>
<body id="page-categories">
<% include static/top-nav %>

<div class="container">
    <div class="row content" id="aura_top">
        <div class="col-sm-12">
            <h2><%= pageinfo.name %></h2>
            <p class="text-muted">
                <small>
                    <span class="glyphicon glyphicon-flash"></span> <%= auralist.count %> auras
                    <span class="glyphicon glyphicon-chevron-up"></span> <a href="/categories">View all categories</a>
                </small>
            </p>
        </div>
    </div>

    <div class="row content">
        <% include static/aura-list %>
    </div>
</div>


<% include static/footer %>