html { overflow-y: scroll; }
body { background: #F2F2E4; font-family: 'Roboto', sans-serif; }
body.modal-open { padding-right: 0!important}
body > .container { background: white; padding: 1em 2em;  }

nav.navbar, #media_preview-fps .slider-handle { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70021c+0,5f0117+44,480011+100 */
    background: #70021c; /* Old browsers */
    background: -moz-linear-gradient(top, #70021c 0%, #5f0117 44%, #480011 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #70021c 0%,#5f0117 44%,#480011 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #70021c 0%,#5f0117 44%,#480011 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70021c', endColorstr='#480011',GradientType=0 ); /* IE6-9 */
}
nav.navbar {max-height:51px}                                     

@media only screen and (max-device-width: 720px) {
  #main-nav { background:#545454 }
}
@media (min-width: 992px) {
  .col-md-12, .col-md-6 { padding-left: 0; padding-right:0 }
}

nav.navbar.navbar-inverse a { color: white }
.navbar-form .input-group { width: 200px; opacity:.85 }
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { color: white; background-color: inherit}
nav.navbar.navbar-inverse .dropdown-menu a { color: black }

.container .input-group { margin-bottom:1em }
#footer { margin-top: 1em; font-size:90% }

#aurainfo { margin-bottom:1em }
#aurainfo .input-group { margin-bottom:0}
#aurainfo .btn-group+.btn-group { margin-left:.5em}
#aurainfo .input-group-addon { padding: 5px 10px; background: white; font-size:12px; line-height:1.5; min-width:auto; width: auto}
#aura-content { padding-right: 1em}

.nowrap { white-space: nowrap }

.glyphicon-star { color: #A94442}

#importwa, #exportwa { height: 12em; width:100%; margin-bottom:1em; font-size:12px }
#auratext { height: 500px }

hr { margin: 10px 0}
.moment {color: #888; font-size:12px}

.dl-horizontal dt { width:100px; margin-bottom:.5em  }
.dl-horizontal dd { margin-left:120px; margin-bottom:.5em  }

.input-group-addon { min-width:125px;  }

#recent_auras li { line-height:14px; margin-bottom: .7em; font-size:14px}

#enable_adv_search { font-size: 90% }
#adv_search { display: none }


#copyaura, #copywago { float:right; margin-top:-1.8em }
#view_wastring .tooltip { font-size: 10px }
#aura_top { border-bottom: 1px solid #CCC; }
#aura_top h2 { margin-bottom:0 }
#aura_top small { padding-right:1em; white-space:nowrap }

#linked_accounts input[readonly], #api-keys input[readonly] { background: white; }
.bg-battlenet { color: white; background-color: #0078B1 }
.bg-discord { color: white; background-color: #7289DA }
.btn.bg-battlenet:hover { color: white; background-color: #006999 }
.bg-twitter { color: white; background: #5ABFDD }
.bg-facebook { color: white; background: #337AB7 }
.bg-google { color: white; background: #D9534F }

#wa_string { width:100%; border: 1px solid #CCC; height:5.5em; padding:1px; font-size:.8em; resize:none}

#editor-options, #aurainfo { min-height:45px; padding: .5em; background: #F6F6F6; border-bottom:1px solid #F2F2E4}
#lua-editor { min-height: 300px; margin-bottom:2em }
.ace_content { background: #FBFBFB }

.dropdown-menu .tooltip.right { width: 130px }

#screenshot_file_input, #media_file_input {width:170px; height:50px; opacity: 0; overflow: hidden; position: absolute; cursor: pointer}
#screenshot_file_input + label, #media_file_input + label { display: inline-block; }
#screenshot_file_input:focus + label, #screenshot_file_input:hover + label, #media_file_input:focus + label, #media_file_input:hover + label { background-color: #c9302c; border-color: #ac2925; }

#screenshots_wrapper { white-space: nowrap; width:540px; overflow-x:auto; margin-bottom:1em}
#screenshots_wrapper a {position: relative}
#screenshots_wrapper img { margin-right: .2em; max-height: 120px; max-width:180px}
#videoplayer { display: none}

#media_upload { position: relative }
#media_upload { margin-bottom: 1em}
#media_preview { margin-bottom:1em; }
#media_preview img { position: absolute; top: 0; right: 0; max-width: 70%;}
#media_preview-fps { position: absolute; left:0; bottom:0; padding: .5em; background: white; border: 1px solid #ccc;  border-radius: 3px; font-size:12px}
#media_preview-fps:before { content: 'FPS '}

#recent_medias li { float: left; max-width: 47%; height: 150px; margin-right:1.5%}
#recent_medias li img { max-width: 100%; max-height: 150px; padding: .5em; border: 1px solid #B5B5B5; border-radius: 4px;}
#recent_medias li img:hover { background-color: #F5F5EA; }

#downloads_container ul { list-style-type:none; padding-left:0}
#downloads_container pre { margin: 0; width: auto; display: inline-block; padding: 5px;}

#media-preview { text-align: center; padding:2em; min-height:200px; height:200px; position:relative;}
#media-preview:before { content: ' '; display: inline-block; vertical-align: middle; height: 100%; margin-left:-1em}

#media-preview.bg-checkered { background: url("/img/bg-checkered.png"); }
#media-preview.bg-light { background: #FDFDFD; }
#media-preview.bg-dark { background: #222; }
#media-preview.bg-bootybay { background-image: url("/img/bg-bootybay.jpg"); background-size:cover; background-repeat:none }

#media-preview img, #media-sprite { display: inline-block; vertical-align: middle; max-width: 100% }
#media-preview-bgselect { position: absolute; top:0; left:0}
#media-preview-bgselect + .dropdown-menu { position: absolute; top:30px; left:0}
#media_preview-togglesprite { position: absolute; top:0; right:0}

#ss_list div.new_ss  { display: inline-block; width: 173px; text-align: center; height: 120px; vertical-align: middle; position:relative; margin: 3px }
#ss_list img, #video_list img { max-width: 192px; max-height: 144px; border: 5px solid white; cursor: pointer; }
#ss_list div.new_ss img + span { background: black; opacity:0.5; color: white; font-size:2em; position: absolute; top:0; left:0; right:0; bottom:0}

#ss_prop { display:none;border:1px dashed #111;padding:1em;margin-bottom:1em }
#video_prop { display:none;margin-bottom:1em }
#video_prop iframe { width:269px;height:151px; }

#ss_prop img { max-width:100% }
#ss_list img.selected, #video_list img.selected { border-color: #d9534f }

.lb-outerContainer { background-color: transparent!important }
.lb-container .lb-image { border:4px solid white; border-radius:4px}
.lb-dataContainer { padding-top:15px!important}


.selectize-dropdown-content .label { color: black; font-size:100%;font-weight:normal; background:transparent!important }
.label.label-default { margin-right: .25em; display:inline-block; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; }
.label.cl-deathknight { background-color: #C41F3B }
.label.cl-demonhunter { background-color: #A330C9 }
.label.cl-druid { background-color: #FF7D0A }
.label.cl-hunter { background-color: #ABD473 }
.label.cl-mage { background-color: #69CCF0 }
.label.cl-monk { background-color: #00FF96 }
.label.cl-paladin { background-color: #F58CBA }
.label.cl-priest { background-color: #FFFFFF }
.label.cl-rogue { background-color: #FFF569 }
.label.cl-shaman { background-color: #0070DE }
.label.cl-warlock { background-color: #9482C9 }
.label.cl-warrior { background-color: #C79C6E }

.label.misc { background-color: #3474C7 }
.label.questing { background-color: #DED528 }
.label.noncombat { background-color: #C78AC4 }
.label.prof { background-color: #AAC758 }

.label.role-dps {
background: #ff9305; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ff9305 0%, #a00000 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #ff9305 0%,#a00000 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #ff9305 0%,#a00000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9305', endColorstr='#a00000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.label.role-heal {
background: #06b103; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #06b103 0%, #63e0ff 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #06b103 0%,#63e0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #06b103 0%,#63e0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b103', endColorstr='#63e0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.role-tank {
background: #f0b7a1; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.pvp {
background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ff0000 0%, #ff3535 49%, #0735ef 51%, #1b07f4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #ff0000 0%,#ff3535 49%,#0735ef 51%,#1b07f4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #ff0000 0%,#ff3535 49%,#0735ef 51%,#1b07f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#1b07f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.raid, .label.role-leader {
background: #f9c667; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f9c667 0%, #f79621 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f9c667 0%,#f79621 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f9c667 0%,#f79621 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.emeraldnightmare {
background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ff0000 21%, #000000 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ff0000 21%,#000000 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ff0000 21%,#000000 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.nighthold {
background: #e808e5; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #e808e5 0%, #7a1088 50%, #caca00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #e808e5 0%,#7a1088 50%,#caca00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #e808e5 0%,#7a1088 50%,#caca00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e808e5', endColorstr='#caca00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.hellfirecitadel {
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.label.dungeon {
background: rgba(243,226,199,1);
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,226,199,1)), color-stop(50%, rgba(193,158,103,1)), color-stop(51%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=0 )
}

.label.development { font-family: monospace}


table.aura-list a { display: block }

#aura-list a.aura { float: left; width:48%; margin:.6em 1% .4em; height:240px; padding: 1em; border: 1px solid #B5B5B5; border-radius: 4px; display: block; color: #333; background-color: rgba(255, 0, 0, 0.03)}
#aura-list a.aura:hover, #aura-list a.aura:active, #aura-list a.aura:focus { text-decoration: none; background: #F5F5EA}

#aura-list .aura-top { border-bottom: 1px solid #B5B5B5; margin-bottom:.5em }
#aura-list .aura-title { font-weight: bold }
#aura-list .aura-stats { float: right;  }

#aura-list .aura-desc { clear: both; height:160px; overflow:hidden }

#aura-list .aura-bottom { border-top: 1px solid #B5B5B5; margin-top:.5em }
#aura-list .aura-date { float: right }
#aura-list .aura-categories { height: 1.5em; overflow: hidden; }



#aura-list.aura-listv2 .aura {width:100%; height: auto; margin:inherit; padding:.5em }
#aura-list.aura-listv2 .aura-container { position: relative; clear: both; display: block; margin-bottom: 1em; }
#aura-list.aura-listv2 .aura-image { padding:0; text-align:center }
#aura-list.aura-listv2 .aura-image img { max-width:100%; max-height: 84px }
#aura-list.aura-listv2 .aura-categories { max-height:1.5em; height: auto }
#aura-list.aura-listv2 .aura-title { font-size:200% }
#aura-list.aura-listv2 .aura-type { font-weight:bold }
#aura-list.aura-listv2 .aura-desc { height: auto; height: 1.5em; overflow:hidden }
#aura-list.aura-listv2 .aura-date, #aura-list.aura-listv2 .aura-stats { float: none }
#aura-list.aura-listv2 .aura-stats { line-height:150%; font-size:90%; margin-top:-.3em}

#aura-list.aura-listv2 .aura-visibility { opacity:.8; font-size: 90% }
#aura-list.aura-listv2 .aura-quickexport { position:absolute;top:2px;right:2px }


.mega-dropdown {
  position: static !important;
}
.navbar-nav .open .dropdown-menu { background: white }

@media screen and (min-width: 1200px) {
.mega-dropdown .dropdown-menu {
    left:50%; margin-left:-585px; width:1170px;
}
.mega-dropdown-menu li {
    width:18%;
    margin:0;
    padding:0 10px 20px;
    float: left
}
.mega-dropdown-menu li+li { width:28% }
.mega-dropdown-menu li+li+li { width:18% }
}

.mega-dropdown-menu {
  padding: 0 20px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  list-style-type: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu li a { display: block }
.mega-dropdown-menu li a:hover { background-color: #F2F2E4; text-decoration:none }
.mega-dropdown-menu li .badge { display: inline; padding: 1px 2px; font-size: 11px; background: #BEBEBE }

.mega-dropdown-menu .dropdown-header-level1 {
  color: #AC2925!important;
  font-size: 18px;
  font-weight: bold;
  padding-top:20px
}
.mega-dropdown-menu .dropdown-header-level2 {
  color: #B10000!important;
  font-size: 15px;
  text-indent: 1em;
  padding-top: 5px;
  background-position: .1em 2px;
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
}
.mega-dropdown-menu .dropdown-header-level2 a {
    color: #B10000!important; 
}

.mega-dropdown-menu .dropdown-header-level3 a {
  color: #444444!important;
  font-size: 13px;
  text-indent: 2.5em;
  background-position: 1.2em 2px;
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

.table-hover>tbody>tr:hover {background:#fcf8e3}
.tooltip.in { opacity:1}
.tooltip-inner { max-width:500px;background-color:#F2F2E4;border:1px solid grey;color:black;text-align:left;max-height:380px;overflow-y:hidden}
.tooltip-inner img { max-width: 150px; max-height:120px; padding: 0 0 1em 1em }

.comment { border: 1px solid #F2F2E4; margin-top: 1em}
.commentheader { background: #F6F6F6; padding: 2px}
.comment-new { border: 1px solid #C8AA54;}
.comment-new .commentheader:after { content: "Unread"; color: #C8AA54; }
.commenttext { padding: 3px 8px }
.comment-tagged-user { color: #4b0012; background: #f2f2e4; padding: 0 3px; }
.btn-comment-alert, .comment-alert { color: #1A88CC }
.btn-comment-moderate { border:0;background:none;padding:0;margin-right:1em }

#comments_container textarea { margin: 1em 0 }

#collection-select .removefromcollection:before { font-family: 'Glyphicons Halflings'; content: "\e013"; font-size: 70%; padding-right: .5em; color: #4a0011; }


/* XBBCODE */
.xbbcode-b {
    font-weight:bold;
}

.xbbcode-blockquote {

}

.xbbcode-center {
    margin-left:auto;
	margin-right:auto;
	display: block;
	text-align: center;
}

.xbbcode-code {
    white-space: pre-wrap;
    font-family: monospace;
}

.xbbcode-i {
    font-style: italic;
}

.xbbcode-img {
    max-height:30px;
    max-width:100%;
}

.xbbcode-justify {
	display: block;
	text-align: justify;
}

.xbbcode-left {
	display: block;
	text-align: left;
}

.xbbcode-right {
	display: block;
	text-align: right;
}

.xbbcode-s {
    text-decoration: line-through;
}

.xbbcode-size-4 {font-size:4px;}
.xbbcode-size-5 {font-size:5px;}
.xbbcode-size-6 {font-size:6px;}
.xbbcode-size-7 {font-size:7px;}
.xbbcode-size-8 {font-size:8px;}
.xbbcode-size-9 {font-size:9px;}
.xbbcode-size-10 {font-size:10px;}
.xbbcode-size-11 {font-size:11px;}
.xbbcode-size-12 {font-size:12px;}
.xbbcode-size-13 {font-size:13px;}
.xbbcode-size-14 {font-size:14px;}
.xbbcode-size-15 {font-size:15px;}
.xbbcode-size-16 {font-size:16px;}
.xbbcode-size-17 {font-size:17px;}
.xbbcode-size-18{font-size:18px;}
.xbbcode-size-19 {font-size:19px;}
.xbbcode-size-20 {font-size:20px;}
.xbbcode-size-21 {font-size:21px;}
.xbbcode-size-22 {font-size:22px;}
.xbbcode-size-23 {font-size:23px;}
.xbbcode-size-24 {font-size:24px;}
.xbbcode-size-25 {font-size:25px;}
.xbbcode-size-26 {font-size:26px;}
.xbbcode-size-27 {font-size:27px;}
.xbbcode-size-28 {font-size:28px;}
.xbbcode-size-29 {font-size:29px;}
.xbbcode-size-30 {font-size:30px;}
.xbbcode-size-31 {font-size:31px;}
.xbbcode-size-32 {font-size:32px;}
.xbbcode-size-33 {font-size:33px;}
.xbbcode-size-34 {font-size:34px;}
.xbbcode-size-35 {font-size:35px;}
.xbbcode-size-36 {font-size:36px;}
.xbbcode-size-37 {font-size:37px;}
.xbbcode-size-38 {font-size:38px;}
.xbbcode-size-39 {font-size:39px;}
.xbbcode-size-40 {font-size:40px;}

.xbbcode-u {
    text-decoration: underline;
}

.xbbcode-table {
    border-collapse:collapse;
}

.xbbcode-tr {

}

.xbbcode-table , .xbbcode-th, .xbbcode-td {
    border: 1px solid #666;
}



/* dev log */
.sidebar-module-list-count { margin-left: 1em; font-size: 11px; background: #BEBEBE; color: white; font-weight:bold; min-width: 10px; line-height: 1; white-space: nowrap; vertical-align: middle; border-radius: 10px;}








