<div class="dropdown dropdown-container">
    <button class="btn btn-default btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Show clock shader: <span class="dropdownValue">Cooldown</span>
        <input name="cooldown" type="hidden" value="Cooldown" class="inputValue">
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" data-val="Off">Off</a>
        <a class="dropdown-item" href="#" data-val="Cooldown">Cooldown</a>
        <a class="dropdown-item" href="#" data-val="Duration">Duration</a>
    </div>
</div>