<div class="sidebar-module sidebar-module-inset">
  <h4>Coming Soon</h4>
  <p>Planned features (in no particular order):</p>
    <ul>                             
        <li>Category auto-detect on import</li>
        <li>Improve screenshots</li>
        <li>Version changelog</li>
        <li>Custom media tools</li>
        <li>Create code from template</li>
        <li>Better custom functions detection</li>
    </ul>
</div>
