  <div class="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="row">
        <div class="col-sm-8 blog-main">
          <%- body %>
        </div>
        <div class="col-sm-3">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </div>
    </div>
  </div>
